#share-check{
    display: none;
}
#burger-check{
    display: none;
}
.share-check{
    display: none;
    position: absolute;
    border: 1px solid rgba(200, 109, 215, 1);
    border-radius: 25px;
    right: 120px;
    padding: 10px;
    top: 20px;
}
.nav-check a{
    transition: 0.5s;
}
#burger-check:checked~.nav-check a{
    font-size: 0;
}
#share-check:checked~.share-check{
    display: block;
}
label{
    cursor: pointer;
}

@media(max-width:680px){
    .nav-check {
        position: absolute;
        top: 73px;
        right: -350px;
        width: 350px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: start;
        text-align: center;
        background-color: rgb(133, 38, 148);
        opacity: 60%;
        color: white;
        transition: 0.5s;
    }
    .nav-check a{
        color: white;
        opacity: 100%;
        padding: 20px;
        font-size: 18px;
    }
    .nav-check a:hover{
        padding: 20px;
        border-radius: 50px;
    }
    #burger-check:checked~.nav-check{
        right: 0;
    }
    #burger-check:checked~.nav-check a{
        font-size: 18px;
    }
    .share-check{
        position: absolute;
        border: 1px solid rgba(200, 109, 215, 1);
        border-radius: 25px;
        left: -70px;
        padding: 8px;
        top: 20px;
        transition: 0.5s;
    }
    #share-check:checked~.share-check{
        left: 70px;
        width: 120px;
        top: 13px;
    }
}