@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Source+Sans+Pro:wght@600;700&display=swap');

body{
    margin: 0px;
    font-family: 'Source Sans Pro', sans-serif;
}
#header{
    display: flex;
    justify-content: space-between;
    padding: 19px 30px 0;
    align-items: center;
    margin-bottom: 19px;
}
.nava{
    text-decoration: none;
    color: rgba(51, 51, 51, 1);
    font-size: 16px;
    line-height: 24px;
}
li{
    list-style-type: none;
}
.nava:hover{
    font-size: 17px;
    color: rgb(255, 255, 255);
    border-radius: 15px;
    background-color: rgba(200, 109, 215, 1);
    padding: 0 20px;
}
#header div:first-of-type a{
    text-decoration: none;
    font-size: 40px;
    line-height: 48px;
    font-family: 'Poppins', sans-serif;
    color: rgba(51, 51, 51, 1);
    margin-bottom: 19px;
}

#header div:last-of-type{
    display: flex;
    /* margin-left: 20px; */
}
#shape{
    width: 24px;
    height: 23.83px;
}
#shape:hover{
    opacity: 50%;
    width: 25px;
    height: 24.83px;
}
#burger{
    width: 24px;
    height: 20px;
    margin-left: 32.19px;
    padding-bottom: 3px;
}
#burger:hover{
    opacity: 50%;
    width: 25px;
    height: 21px;
}

#main{
    background-image: url(./picture/main/Object.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -50px;
    height: 400px;
    color: white;
    padding: 173px 11%;
}
.main{
    font-size: 20px;
    line-height: 24px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 23px;
    padding: 0px;
}
h1{
    font-size: calc(1.475rem + 2.7vw);
    line-height: 72px;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
#main p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    max-width: 750px;
    margin-bottom: 46px;

}
#main div:last-of-type{
    display: flex;
}
/* #main .main_btn:first-of-type{
    padding: 12px 44.5px;
    background-color: rgba(255, 196, 0, 0);
    border: 1px rgba(255, 195, 0, 1) solid;
    margin-right: 30px;
    transition: 0.3s;
} */
#main div:last-of-type li a.main_btn{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: white;
    margin-right: 30px;
    border: 1px white solid;
    border-radius: 25px;
    padding: 12px 47.5px;
    transition: 0.3s;
}
#main div:last-of-type li a.main_btn:hover{
    background-color: rgba(255, 195, 0, 1);
    border: 1px rgba(255, 195, 0, 1) solid;
}




@media(max-width:700px){
    
    #main{
        text-align: center;
        background-color: rgba(48, 35, 174, 1);
        background-position: 0 0px;
    }
    
    #main div:last-of-type{
        margin: 0px;
        height: 200px;
        display: flex;
        flex-direction: column;
        margin-right: auto;
        margin-left: auto;
    }
    #main div:last-of-type li{
        margin-bottom: 50px;
    }
    #main div:last-of-type li a.main_btn{
        margin: 0px;
    }
}