@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Source+Sans+Pro:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

body{
    margin: 0px;
    font-family: 'Source Sans Pro', sans-serif;
}
#header{
    display: flex;
    justify-content: space-between;
    padding: 19px 30px 0;
    align-items: center;
    margin-bottom: 19px;
}
.nava{
    text-decoration: none;
    color: rgba(51, 51, 51, 1);
    font-size: 16px;
    line-height: 24px;
}
li{
    list-style-type: none;
}
.nava:hover{
    font-size: 17px;
    color: rgb(255, 255, 255);
    border-radius: 15px;
    background-color: rgba(200, 109, 215, 1);
    padding: 0 20px;
}
#header div:first-of-type h2{
    font-size: 40px;
    line-height: 48px;
    font-family: 'Poppins', sans-serif;
    color: rgba(51, 51, 51, 1);
    margin-bottom: 2px;
}

#header div:last-of-type{
    display: flex;
}
#shape{
    width: 24px;
    height: 23.83px;
}
#shape:hover{
    opacity: 50%;
    width: 25px;
    height: 24.83px;
}
#burger{
    width: 24px;
    height: 20px;
    margin-left: 32.19px;
    padding-bottom: 3px;
}
#burger:hover{
    opacity: 50%;
    width: 25px;
    height: 21px;
}



#main{
    background-image: url(./picture/main/Object.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -50px;
    height: 497px;
    color: white;
    padding: 173px 11% 0px;
}
.main{
    font-size: 20px;
    line-height: 24px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 23px;
    padding: 0px;
}
h1{
    font-size: calc(1.475rem + 2.7vw);
    line-height: 72px;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
#main p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    max-width: 750px;
    margin-bottom: 46px;
}
#main ul{
    display: flex;
}
#main ul li a.main_btn{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: white;
    margin-right: 30px;
    border: 1px white solid;
    border-radius: 25px;
    padding: 12px 47.5px;
    transition: 0.3s;
}
#main ul li a.main_btn:hover{
    background-color: rgba(255, 195, 0, 1);
    border: 1px rgba(255, 195, 0, 1) solid;
}



.cards_bottom{
    display: flex;
    width: 78%;
    margin: 0 auto;
}
.first_cards{
    padding: 61px 0 61px;
}
.cards{
    position: relative;
    flex-basis: calc(100% / 3);
    overflow: hidden;
    border-radius: 10px;
    margin: 15px;
    box-shadow: 16px 16px 48px 0 rgba(0, 0, 0, 0.0995);
}
.cards>div{
    margin-top: 32px;
    padding-left: 32px;
    position: relative;
}
.cards img{
    background-size: 100%;
    width: 100%;
}
.plus{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border: 1px solid #C86DD7;
    box-sizing: border-box;
    border-radius: 24px;
    position: absolute;
    right: 8% ;
    bottom: 4%;
    color: #C86DD7;
    font-size: 35px;
    transition: 0.3s;
    margin: 15px;
    z-index: 100;
}
.plus:hover{
    color: #ffffff;
    background-color:#C86DD7;
}
.cards_header{
    padding: 0 11%;
    margin-left: auto;
    margin-right: auto;
}

.cards_header div{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 18px;
    color:rgba(51, 51, 51, 1);
}
h2{
    font-family: 'Poppins', sans-serif;
    font-size: calc(1.475rem + 2.7vw);
    line-height: 64px;
    margin: 0 0 57px;
    color:rgba(51, 51, 51, 1);
}
.cards p{
    font-size: 12px;
    line-height: 24px;
    margin: 0px;
    color:rgba(51, 51, 51, 1);
}
#hfive{
    max-width: 70%;
}
h5{
    font-size: 24px;
    line-height: 32px;
    max-width: 50%; 
    margin: 0 0 43px;
    color:rgba(51, 51, 51, 1);
}



#laptop{
    padding: 159px 6.5% 160px;
    background-image: url(./picture/laptop/BG.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 368px;
}
#laptop>div img {
    float: left;
    width: 700px;
}
.laptop_description{
    padding-top: 6%;
    display: block;
}
.laptop_description h2{
    font-size: calc(16px + 2.7vw);
    line-height: 64px;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.laptop_description p{
    color: rgba(51, 51, 51, 1);
    font-size: 16px;
    line-height: 24px;
    margin: 23px 0 32px;
}
.blue_btn{
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    color: white;
    background-color: #C86DD7;
    border: 1px #C86DD7 solid;
    border-radius: 25px;
    padding: 11px 57px;
    transition: 0.5s;
}
.blue_btn:hover{
    border: 1px #C86DD7 solid;
    background-color: rgba(255, 255, 255, 0);
    color: #C86DD7;
}
.clear-float{
    clear: both;
}



.blocks_description{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 135px;
}
.blocks_description .blue_btn{
    background-color: rgba(0, 128, 128, 0);
    color: #C86DD7;
}
.blocks_description .blue_btn:hover{
    background-color: #C86DD7;
    color: white;
}
.blocks_description h2{
    margin: 0;
    font-size: 56px;
    line-height: 64px;
}
.blocks_bottom{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height: 550px;
    background-color: rgb(89, 151, 65);
}
.blocks_bottom .plus{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 24px;
    position: absolute;
    left: 32%;
    bottom: 5%;
    color: #ffffff;
    font-size: 35px;
    transition: 0.3s;
    margin: 15px;
    z-index: 10;
    text-decoration: none;
}
.blocks_bottom .plus:hover{
    color: #C86DD7;
    background-color: rgb(255, 255, 255);
}
.blocks_text{
    position: absolute;
    max-width: 30%;
    left: 32px;
    bottom: 32px;
    z-index: 10;
}
.blocks_text h5{
    margin: 0;
    font-size: 24px;
    line-height: 32px;
    font-family: 'Poppins', sans-serif;
    color: white;
}
.blocks_text p{
    font-size: 16px;
    line-height: 24px;
    color: white;
    font-family: 'Nanum Gothic', sans-serif;
}
#glass{
    width: 550px;
    position: absolute;
    z-index: 5;
}
#frame{
    width: 275px;
    position: absolute;
    top: 0;
    left:550px
}
#icecream{
    width: 275px;
    position: absolute;
    bottom: 0;
    left:550px
}
#head{
    width: 340px;
    position: absolute;
    top: 0;
    right: 184px;
}
#bilding{
    width: 184px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 4;
}
#hren{
    width: 184px;
    position: absolute;
    right: 0;
    bottom: 210px;
}
#dron{
    width: 524px;
    height: 210px;
    position: absolute;
    right: 0;
    bottom: 0;
}



#plus{
    height: 300px;
    background-color: rgba(48, 35, 174, 1);
    padding: 96px 11% 30px;
}
.plus_block{
    display: flex;
    justify-content: space-between;
    color: white;
}
.plus_cards{
    margin-right: 2%;
}
.plus_cards img{
    margin-bottom: 25px;
}
.plus_cards p{
    margin: 10px 0 0;
    font-size: 16px;
    line-height: 24px;
}
.plus_cards h6{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    line-height: 32px;
}


#messege{
    padding: 100px 11% ;
}
.messege_block{
    display: flex;
    margin-bottom: 60px;
}
.messege_block h6{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 18px;
}
.messege_block h2{
    font-size: calc(1.475rem + 2.7vw);
    line-height: 64px;
    margin: 0 0 32px;
}
.messege_block p{
    margin-bottom: 32px;
}
.messege_block div:first-of-type{
    position: relative;
}
.messege_block div:last-of-type{
    z-index: 10;
    padding-left: 650px;
    padding-top: 60px;
}
.messege_block img:first-of-type{
    z-index: 10;
    top: -22px;
    left: 22px;
}
.messege_block img{
    position: absolute;
    width: 500px;
    height: 474px;
}


#mobile{
    padding: 60px 11%;
    position: relative;
    background-image: url(./picture/mobile/BG.png);
}
.mobile_block{
    position: relative;
}
.mobile_block>div h2{
    font-size: calc(1.475rem + 2.7vw);
    max-width: 50%;
    margin: 0 0 30px;
    color: white;
}
.mobile_block>div p{
    max-width: 55%;
    color: white;
    margin-bottom: 50px;
}
.mobile_block>div:first-of-type{
    padding-top: 20%;
}
.mobile_block>div .mobile_buttons{
    display: flex;
    margin-bottom: 145px;
}
.mobile_phone img:first-of-type{
    position: absolute;
    top: 10%;
    right: 17%;
    z-index: 5;
}
.mobile_phone img:last-of-type{
    position: absolute;
    top: 30%;
    right:-13%;
}
.mobile_block .main_btn{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: white;
    margin-right: 30px;
    border: 1px white solid;
    border-radius: 25px;
    padding: 12px 47.5px;
    transition: 0.3s;
}
.mobile_block .main_btn:hover{
    background-color: rgba(255, 195, 0, 1);
    border: 1px rgba(255, 195, 0, 1) solid;
}
.oval:first-of-type{
    position: absolute;
    bottom: 0;
    left: 40%;
}
.oval:last-of-type{
    width: 150px;
    position: absolute;
    right: 0;
    bottom:0;
}




#second_cards{
    background-color: #fff;
    z-index: 20;
    padding-bottom: 123px;
}
.card_bottom{
    display: flex;
    width: 78%;
    margin: 0 auto;
}
.card_header{
    padding: 120px 11% 0;
}
.sec_card{
    position: relative;
    flex-basis: calc(100% / 4);
    height: 350px;
    overflow: hidden;
    border-radius: 10px;
    margin: 15px;
    box-shadow: 16px 16px 48px 0 rgba(0, 0, 0, 0.0995);
    padding: 26px 26px 0;
}
.sec_card h6{
    font-size: 12px;
    line-height: 24px;
    margin: 0 0 13px;
}
.sec_card h4{
    font-size: 20px;
    line-height: 26px;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.sec_card .plus{
    left: 8% ;
    bottom: 4%;
}



#gradient{
    background-color: #fdf2ff;
    padding: 128px 11%;
}
.gradient h2{
    position: absolute;
    z-index: -10
    ;
}
#gradient p{
    margin: 0px;
    display: none;
    transition: 0.3s;
}
.gradient_block{
    display: flex;
}
.gradient img{
    width: 470px;
}
.gradient_bottom{
    margin-left: 100px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.gradient_bottom label{
    font-size: 24px;
    line-height: 32px;
    font-family: 'Poppins', sans-serif;
}
.gradient_bottom label::after{
    content: url(./picture/gradient/down.png);
}

.gradient_bottom label:hover{
    border-bottom: 7px solid #C86DD7;
    display: inline-block;
    line-height: 0.70;
}
.gradient_bottom .lab_one{
    max-width: 195px;
}
.gradient_bottom .lab_two{
    max-width: 210px;
}
.gradient_bottom .lab_thre{
    max-width: 300px;
}
.gradient_bottom .lab_four{
    max-width: 165px;
}
.gradient_bottom .lab_five{
    max-width: 180px;
}
.gradient_bottom input{
    display: none;
}
#one:checked~.check_one{
    display: inline;
}
#two:checked~.check_two{
    display: inline;
}
#thre:checked~.check_thre{
    display: inline;
}
#four:checked~.check_four{
    display: inline;
}
#five:checked~.check_five{
    display: inline;
}



#hr{
    padding: 120px 11% 512px;
    background-image: url(./picture/HR/BG.png);
    background-repeat: no-repeat;
    background-color: rgba(48, 35, 174, 1);
}
.hr_cards{
    display: flex;
    justify-content: space-between;
}
.hr_card{
    flex-basis: calc (100% / 4);
    margin: 15px;
    background-color: #fff;
    border-radius: 5px;
}
.hr_card img{
    width: 220px;
    height: 238px;
}
.hr_card h4{
    color:rgba(51, 51, 51, 1);
    font-family: 'Poppins', sans-serif;
    font-size:22px;
    line-height: 30px;
    margin: 21px 0 11px 20px;
}
.hr_card p{
    color:rgba(51, 51, 51, 1);
    font-size:12px;
    line-height: 24px;
    margin: 0 0 25px 20px;
}
.hr_block h2{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 56px;
    line-height: 64px;
}



#third_cards{
    padding: 60px 11% 96px;
}
.third_block .third_head{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color:rgba(51, 51, 51, 1);
    text-transform: uppercase;
    margin-bottom: 18px;
}
.third_buttom{
    display: flex;
    justify-content: space-between;
}
.third_card{
    font-family: 'Poppins', sans-serif;
    position: relative;
    flex-basis: calc(100% / 3);
    overflow: hidden;
    border-radius: 10px;
    margin: 15px;
    box-shadow: 16px 16px 48px 0 rgba(0, 0, 0, 0.0995);
    padding: 32px 0 0 32px;
}
.third_card h6{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 13px;
    line-height: 24px;
    margin: 0 0 13px;
    color:rgba(51, 51, 51, 1);
}
.third_card h4{
    font-size: 24px;
    line-height: 32px;
    margin: 0 0 15px;
    color:rgba(51, 51, 51, 1);
}
.third_card>div{
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 24px;
    color:rgba(51, 51, 51, 1);
}
.third_card>div span{
    font-size: 72px;
    line-height: 72px;
    margin: 0;
    color:rgba(51, 51, 51, 1);
}
.third_card ul{
    padding: 0;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 80px;
    color:rgba(51, 51, 51, 0.527);
}
.third_card_sec{
    position: relative;
    flex-basis: calc(100% / 3);
    overflow: hidden;
    border-radius: 10px;
    margin: 15px;
    color: white;
    box-shadow: 16px 16px 48px 0 rgba(0, 0, 0, 0.0995);
    background-image: url(./picture/third_cards/BG2.png);
    background-size: 100vh;
    background-position: -80px -45px;
    padding: 32px 0 0 32px;
    font-family: 'Poppins', sans-serif;
}
.third_card_sec h6{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 13px;
    line-height: 24px;
    margin: 0;
    color: white;
}
.third_card_sec .third_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.third_card_sec h4{
    font-size: 24px;
    line-height: 32px;
    margin: 13px 0 15px;
}
.third_card_sec h5{
    font-size: 10px;
    line-height: 10px;
    padding-right: 12px;
    margin: 0;
    color: white;
}
.third_card_sec>div:first-of-type{
    font-size: 16px;
    line-height: 24px;
    color: white;
}
.third_card_sec>div span{
    font-size: 72px;
    line-height: 72px;
    color: white;
}
.third_card_sec ul{
    padding: 0;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin: 18px 0 80px;
    color: rgba(255, 255, 255, 0.658);
}
.shop_icon{
    background-image: url(./picture/third_cards/shop.png);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    right: 32px;
    bottom: 32px;
    border: 1px solid #C86DD7;
    border-radius: 50px;
}
.shop_icon:hover{
    background-color: #C86DD7;
    background-image: url(./picture/third_cards/shop_white.png);
}
.third_card_sec .shop_icon{
    background-image: url(./picture/third_cards/shop_white.png);
    border: 1px solid #ffffff;
}
.third_card_sec .shop_icon:hover{
    background-image: url(./picture/third_cards/shop.png);
    border: 1px solid #ffffff;
    background-color: #fff;
}



#footer{
    background-color:  rgba(48, 35, 174, 1);
    text-decoration: none;
    color: white;
}
.footer_main{
    display: flex;
    justify-content: space-between;
    padding: 53px 11%;
    border-bottom: rgba(255, 235, 205, 0.438) solid 1px;
}
.footer_main h4{
    font-size: 24px;
    line-height: 32px;
    margin: 0 0 25px;
}
.foot_block p{
 max-width: calc(100% - 30px);
 font-size: 15px;
 line-height: 22px;
 margin: 0;
 color: rgba(255, 255, 255, 0.562);
}
.foot_block ul{
    padding: 0;
}
.foot_block a{
    color: white;
    text-decoration: none;
    
}
.foot_block li{
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 22px;
}
.foot_block{
    flex-basis: calc(100% / 4);
}
.foot_block div{
    display: flex;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.514);
    margin-bottom: 24px;
    font-weight: 100;
}
.foot_block div>img{
    margin-right: 16px;
}
.footer_bottom{
    display: flex;
    justify-content: space-between;
    padding: 32px 20% 32px 11%;
}
.footer_bottom p{
    font-size: 15px;
    line-height: 22px;
    font-weight: 100;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity: 50%;
}
@media(max-width:700px){
    
    #main{
        text-align: center;
        height: 688px;
        background-color: rgba(48, 35, 174, 1);
        background-position: 0 0px;
    }
    #main ul{
        margin: 0px;
        height: 200px;
        display: flex;
        flex-direction: column;
        margin-right: auto;
        margin-left: auto;
    }
    #main ul>li{
        margin-bottom: 50px;
    }
    #main ul>li a.main_btn{
        margin: 0px;
    }
    



    .first_cards{
        text-align: center;
        
    }
    .cards_bottom{
        flex-direction: column;
    }
    .cards{
        text-align: start;
    }
    #laptop>div img{
        position: relative;
        left: -300px
    }
    #laptop>div{
        text-align: center;
    }
    #laptop{
        position: relative;
        text-align: center;
        padding: 150px 0 150px;
    }
    .laptop_description{
        position: absolute;
        top: 40px;
    }
    .laptop_description p{
        margin: 20px;
    }


    .blocks_text{
        text-align: center;
    }
    .blocks_description{
        flex-direction: column;
        text-align: center;
    }
    .blocks_description h2{
        margin-bottom: 30px;
    }
    #frame{
        left:0px
    }
    #icecream{
        left:0px
    }



    #plus{
        height: 670px;
    }
    .plus_block{
        flex-direction: column;
    }
    .plus_cards{
        text-align: center;
        margin-bottom: 70px;
    }
    


    .messege_block div:last-of-type{
        padding: 0;
        text-align: center;
    }
    .messege_block img{
        top: 400px;
    }
    .messege_block img:first-of-type{
        top: 380px;
    }
    #messege{
        height: 900px;
    }

    .mobile_block div:first-of-type {
        text-align: center;
        margin: 0;
    }
    .mobile_block>div:first-of-type h2{
        max-width: none;
    }
    .mobile_block>div:first-of-type p{
        max-width: none;
    }
    .mobile_block>div:first-of-type ul{
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }
    .mobile_block>div:first-of-type ul>li{
        margin-bottom: 40px;
    }
    .mobile_phone{
        display: none;
    }



    .card_header h2{
        text-align: center;
    }



    .gradient_block{
        flex-direction: column;
        text-align: center;
    }
    .gradient{
        margin-bottom: 50px;
    }
    .gradient_bottom label{
        margin-bottom: 20px;
        text-align: center;
    }


    .hr_block{
        text-align: center;
    }
    .hr_cards{
        flex-direction: column;
    }
    #hr{
        padding: 120px 11% 200px;
    }


    .third_block{
        text-align: center;
    }
    .third_buttom{
        flex-direction: column;
    }
    .third_card_sec{
        background-position: -40px -40px;
    }
    .third_card_sec ul{
        text-align: start;
    }
    .third_card ul{
        text-align: start;
    }


    .card_bottom{
        flex-direction: column;
    }
    .sec_card{
        text-align: center;
    }
    .sec_card h4{
        margin-bottom: 200px;
    }

    .footer_main{
        flex-direction: column;
    }
}